.sidenav {
  width: 200px;
  top: 100px !important;
  border-top-right-radius: 7px;
  box-shadow: 10px 10px 14px 0 rgba(0, 0, 0, 0.75);
  background: linear-gradient(135deg, rgba(255,255,255,0.76) 0%,
    rgba(246,246,246,0.75) 47%, rgba(237,237,237,0.74) 100%);
}

.sidenav-mobile {
  background: linear-gradient(135deg, rgba(255,255,255,0.91) 0%,
    rgba(246,246,246,0.91) 47%, rgba(237,237,237,0.94) 100%);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.main-content {
  margin: 50px auto;
  max-width: 600px;
  border-radius: 17px;
  padding: 20px;
  box-shadow: 10px 10px 14px 0 rgba(0, 0, 0, 0.75);
  background: linear-gradient(135deg, rgba(226,226,226,0.41) 0%, rgba(209,209,209,0.41) 1%,
    rgba(209,209,209,0.41) 2%, rgba(219,219,219,0.4) 5%, rgba(254,254,254,0.2) 100%);
}

.mat-drawer-container {
  background-color: transparent;
}

.outer-container {
  padding: 0 25px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
