<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>WeatherApp</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               [ngClass]="{'sidenav-mobile': (isHandset$ | async)}">
    <mat-toolbar>Cities</mat-toolbar>
    <mat-nav-list>

      <div *ngIf="(isHandset$ | async) else notHandset">
        <app-side-nav-content (cityChanged)="drawer.close()"></app-side-nav-content>
      </div>
      <ng-template #notHandset>
        <app-side-nav-content></app-side-nav-content>
      </ng-template>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="outer-container">
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
