.row {
  display: inline-block;
  margin-bottom: 20px;
}

.main-temp {
  width: 90px;
  margin-right: 10px;
}

.min-max-temp {
  width: 80px;
  margin-right: 90px;
}

.description, .wind-direction{
  font-size: 18px;
  font-weight: bold;
}

.humidity {
  margin-right: 135px;
}

.sunrise {
  margin-right: 25px;
}
